navbar{
   
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
  
    .navbar-content{
        height: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
          flex-wrap: wrap;
        .logo {
            color:white;
            font-size: 3rem;
            text-decoration: none;
        }
        ul{
            font-family: var(--font-text);
            font-size: 1.4rem;
            display: flex;
            gap: 5rem;
            list-style: none;
            
            a{
                text-decoration: none;
                color:white;
                
            }
            a:hover{
                color:var(--destaque-area-1);
            
            }
        }
        button{
            height: 100%;
            width: 13rem;
            color: white;
            background: none;
            border:none;
            border: 0.2rem solid rgba(133, 133, 133, 0.205);
            font-family: var(--font-text);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            
        }
        button:hover{
            color: black;
        background: var(--destaque-area-1);
        border: 0.2rem solid rgba(133, 133, 133, 0.205);
        }
    }
    .menu{
        display: none;
    }
}
navbar.scroll{
    background: rgba(39, 39, 39, 0.623);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(39, 39, 39, 0.28);
}