*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --destaque-area-1:rgb(216,201,129);
    --color-body: rgb(7, 7, 7);
    --title:rgba(224,175,112,255);
    --text:#757575;
    --font-text:'Ubuntu', sans-serif;
    --font-title:'Times New Roman', Times, serif;
}
body{
    background: var(--color-body);
    width: 100%;
    height: 100vh;
  
}
.alinhamento{
    width: 100%;
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 2%;
}
.linha{
    width: 0.2rem;
    height: 10rem;
    background: var(--i);
}
@import "nav";
@import "header";
@import "main-container";