@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
@font-face {
    font-family: Fauna;
    src: url('../fontes/Fauna.otf');
}
@font-face {
    font-family: duna;
    src: url('../fontes/Dune_Rise.otf');}

:root {
    --marromEscuro:rgb(207, 194, 126);
    --areia:#D98F4E;
    --laranjaEscuro:#e69769;
    --cinza:#d8c981;
    --corEscura:#3D402C;
    --fundo: rgba(39,39,39,255);
    --fundoBox: rgb(44, 44, 44);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: var(--fundo);
    font-family: Poppins;
    color:white
}

.inicio {
    height: 657px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.288),
    rgba(0, 0, 0, 0.384)),url("../img/dunas.jpg") ;
    background-size: cover;
    z-index: 1;
}
.container-inicio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-inicio h1{
     font-size:100px;
     z-index: 2;
}
.container-inicio button{
    
background: none;
height: 50px;
border: none;
cursor: pointer;
}
.dune {
    color: white;
    font-family: Fauna;
    font-size: 30px;
}

.box-icone {

    text-align: center;
    margin: 0;
}

.box-icone .icone {
    font-size: 60px;
    color:white;
    animation: seta 2s ease-out infinite;
}

::-webkit-scrollbar {
    background:var(--fundoBox);
    width: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:var(--laranjaEscuro);
}

.espacamento {
    height: 70px;
    width: 100%;
}
.espacamentoMenor {
    height: 50px;
    width: 100%;
}
#categorias{
    padding-top: 20px;
    position: relative;
    font-family: Fauna;
    text-align: center;
}
.container{
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container .box{
    position: relative;
    height: 400px;
    width: 325px;
    background: var(--fundoBox);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #0000007c, 0px 32px 50px -30px rgba(0,0,0,0.08);
    transition: all 0.4s ease-in-out;
}
.container .box:hover{
    box-shadow: 0px 10px 13px -7px #000000bd, 0px 32px 50px -30px rgba(0, 0, 0, 0.37);
    height: 420px;
    width: 345px;
}
ion-icon{
    font-size: 50px;
    margin-bottom: 40px;
    color:var(--marromEscuro)
}
.container .box h1{
    font-family: Fauna;
    margin-bottom: 20px;
    font-size: 21px;
}
.container .box p{
    font-size: 15px;
}

.container .box button{
    margin-top: 30px;
    padding: 8px 20px 8px 20px;
    font-weight: 600;
    font-family: 'Poppins';
    border:none;
    background: transparent;
    color: var(--marromEscuro);
    border: 2px solid var(--marromEscuro);
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 38px 2px rgba(54,54,54,0.56);
}
.container .box button:hover{
    background: var(--marromEscuro);
    border: 2px solid var(--marromEscuro);
   color: rgba(39,39,39,255);
}

.sinopse {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-sinopse {
    height: 260px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.box-sinopse h1 {
    width:50%;
    font-family: Fauna;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-sinopse p {
    width: 80%;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}



.citacao{
    background: var(--cinza);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fauna;
}
.texto{
    color: rgba(39,39,39,255);
    font-size: 25px;
}
.origem{
    height: 500px;
    width: 100%;
    display: flex;
   
}
.textoOrigem{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:10px;
}

.autor img{
    width: 100%;
    margin: 0;
}
#sobreDuna{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobreDuna{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;
    
}
.sobreDuna h1{
    font-family: Fauna;
    margin-bottom: 30px;
}
.sobreDuna p{
    font-size: 15px;
}
.trailer{
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.itensTrailer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.itensTrailer ion-icon{
    position: relative;
    overflow: hidden;
    font-size: 80px;
    background: transparent;
    border: none;
    margin-bottom: 0;

    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}
.itensTrailer h1{
    font-size: 35px;
    
    font-family: Fauna;
}
.itensTrailer  ion-icon:hover {
    color: var(--areia);
 
}